<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    <configSections>
    </configSections>
  
    <appSettings>
    
      <!-- Set async timeout in seconds -->
      <add key="defaultTimeout" value="31"/>
      <add key="baseURL" value="https://www.google.com/"/>
      <!-- Set timout in mseconds before the next try during wait something -->
      <add key="pollingInterval" value="500"/>
      

    </appSettings>
  
</configuration>