<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    <configSections>
    </configSections>
  
    <appSettings>

      <!-- Specify locale in which will be run browser. Currently supported anyone from: [UA, RU]   -->
      <add key="browserLocale" value="UA"/>
    
      <!-- Set async timeout in seconds -->
      <add key="defaultTimeout" value="31"/>
      
      <!-- Set timeout in milliseconds before the next try during wait something -->
      <add key="pollingInterval" value="500"/>
      

    </appSettings>
  
</configuration>